<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>" id="logo">CANDYBOT</a>
      </div>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <!-- .nav, .navbar-search, .navbar-form, etc -->
        <ul class="nav navbar-nav navbar-right" id="release-tab">

          <% if user_signed_in? %>
            <li><%= button_to "Sign Out", destroy_user_session_path, class: "btn btn-default navbar-btn", method: :delete%></li></li>
          <% else %>
            <li><%= button_to "Sign In", new_user_session_path, class: "btn btn-default navbar-btn", method: :get %></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
